#num1{
    width :70px;
    padding: 7px 5px;
}
#num2{
    width :70px;
    padding: 7px 5px;
}
#op{
    padding:7px;
}
#cal{
    padding: 10px 7px;
}
#rel{
    font-size:30px;
    
}